.catpicture {
  width: 1200px;
  height: 480px;

}

h1 {
  font-family: 'Courgette', cursive;
  text-shadow: white 0.3em 0.3em 0.3em;
  color: black;
  font-size: 75px;
  margin-left: 15px;

}

h2 {
  font-family: 'Courgette', cursive;
  font-size: 25px;
  margin-left: 15px;
}

.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

.carousel-caption {
  z-index: 10;
}

body {
  background-color: #9DC8C8;
}
