.adopter {
  margin-left: 20px;
  font-family: 'Courgette', cursive;

}

h1 {
  margin-left: 20px;
  font-family: 'Courgette', cursive;
  color: #ffffff !important;
}

h2 {
  margin-left: 20px;
  font-family: 'Courgette', cursive;
}

.jumbotron {
  margin-bottom: 0px;
  background-image: url("../img/cats1.jpeg") !important;
  background-position: 0% 25%;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-shadow: black 0.3em 0.3em 0.3em;

}

body {
  background-color: #668cff;
}

.btn {
  margin-top: 20px;
  background-color: #0040ff;
  color: white;
}

#profile-display, #cat-display {
  display: none;
}
